@font-face {
    font-family: myFont;
    src: url(/fonts/BeVietnamPro-ExtraLight.ttf);
  }
  
  body {
    font-family: myFont;
    background: rgba(235,221,209,255);
    margin: 0;
  }
  
  h1{
    color: white;
    background: rgba(82, 51, 8, 0.564);
    border: 2px solid #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .header { 
    background-image: url('/img/header_pic_2.png'); 
    background-size:cover;
    background-position: center;
    height: 300px; 
    display: flex; 
    align-items: center; 
    justify-content: center;  
    text-align: center; 
    width: auto;
  } 
  
  

nav {
  text-align: center;
  display: flex; 
  align-items: center; 
  overflow:auto;
  justify-content:center ;  
  background: rgba(220,195,174,255);
  background: rgba(220, 195, 174, 0.917);
  padding-bottom: 10px;

}

nav ul {
  display:inline-flex;
  list-style-type: none;
  margin-bottom: 5px;
  text-align: center;
  
}

nav li {
  margin: 0px 50px 0px 15px;
}

nav a {
  display: inline-flex;

  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
  background: rgba(182,157,135,255);
  background: rgba(182, 157, 135, 0.884);

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #ffffff;
  text-decoration: none;
}

  nav a:hover {
    background: rgba(182, 157, 135, 0.637);
  }
  /* 
  .main::after {
    display: flex;
  
  } */
  
  .about {
    color: #ffffff;
    margin: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px 50px 20px 50px;
    background: rgba(182, 157, 135, 0.884);
    border: 1px solid #ffffff;  
border-collapse: collapse;  }
  
  .about-info {
    text-align: justify;
  }
  
  
  .add-table-button {
  display: inline-flex;
  position: relative;
  margin-bottom: 10px;
  }


table {
  border-collapse: collapse;
  width: 100%;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;

}

.table {
  padding: 2px;
  background-color: white;
  color: black;

}

.firstRow th{
  background: rgba(82, 51, 8, 0.845);
  color: white;
}

tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

tr:nth-child(even) {
  background-color: rgba(240, 212, 189, 0.884)f;
}

input[readonly] {
  border: none;
  background-color: #f5f5f5;
  color: #333;
}

.load-data {
  color: rgba(132, 73, 25, 0.884)f;
  padding: 5px;
  
}

  /* Button styling */
  #modalButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  /* Modal overlay */
  .modal-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000;
  }

  /* Modal content */
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 1000px;
    max-width: 90%;
    text-align: center;
  }

  /* Close button */
  .modal-content button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
  }