@font-face {
    font-family: myFont;
    src: url(/fonts/BeVietnamPro-ExtraLight.ttf);
  }
  
  body {
    font-family: myFont;
    background: rgba(235,221,209,255);
    margin: 0;
  }
  
  h1{
    color: white;
    background: rgba(82, 51, 8, 0.564);
    border: 2px solid #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 80px;
    padding-right: 80px;
  }

  h2 {
    text-align: center;

  }
  
  .header { 
    background-image: url('/img/header_pic_2.png'); 
    background-size:cover;
    background-position: center;
    height: 300px; 
    display: flex; 
    align-items: center; 
    justify-content: center;  
    text-align: center; 
    width: auto;
  } 
  
  

nav {
  text-align: center;
  display: flex; 
  align-items: center; 
  overflow:auto;
  justify-content:center ;  
  background: rgba(220,195,174,255);
  background: rgba(220, 195, 174, 0.917);
  padding-bottom: 10px;

}

nav ul {
  display:inline-flex;
  list-style-type: none;
  margin-bottom: 5px;
  text-align: center;
  
}

nav li {
  margin: 0px 50px 0px 15px;
}

nav a {
  display: inline-flex;

  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
  background: rgba(182,157,135,255);
  background: rgba(182, 157, 135, 0.884);

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #ffffff;
  text-decoration: none;
}

  nav a:hover {
    background: rgba(182, 157, 135, 0.637);
  }
  /* 
  .main::after {
    display: flex;
  
  } */
  
  .about {
    color: #ffffff;
    margin: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px 50px 20px 50px;
    background: rgba(182, 157, 135, 0.884);
    border: 1px solid #ffffff;  
border-collapse: collapse;  }
  
.about-info {
text-align: justify;
}

form {
  text-align: center;
}

#goalName {
  min-width: 400px;
  min-height: 30px;
  padding: 0px 10px 0px 10px;
}

form textarea {
  min-height: 100px;
  min-width: 500px;
}

#goalsContainer {
  display: flex-box;
  margin: 50px 10px 0px 10px;
  justify-content: center;
  overflow: scroll;
  border-collapse: collapse;}

#goalsContainer div {
  margin: 0px 10px 10px 10px;
  /* width: 100px; */
  background: rgba(82, 51, 8, 0.564);
  border: 2px solid #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 100px;
}

h3 {
  /* background: rgba(82, 51, 8, 0.564);
  border: 2px solid #ffffff; */
  padding: 5px 5px 5px 5px ;
}

#goalsContainer p {
  padding-left: 50px;
}
